html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* 12 COLUMN GRID SYSTEM */
.row {
    display: flex;
    flex-wrap: wrap;
}

.column {border: dashed red 1px;}

@for $i from 1 through 12 {
    $w:calc($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}	
} // end loop

body {
    display: flex;
    flex-direction: column;
    background-color: hsl(47, 88%, 63%);
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
    font-size: smaller;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 50%;

    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    
    max-width: fit-content;
    padding: 20px;
    margin: 20px;

    box-shadow: 10px 10px 0px 0px #000000;
}

.illustration {
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.tag {
    background-color: hsl(47, 88%, 63%);
    min-width: 35%;
    text-align: center;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}

.published {
    margin: 10px 0px 10px 0px;
}

.content {
    h1 {
        font-size: large;
        font-weight: 800;
        margin: 10px 0px 10px 0px;
        color: black;
    }

    color: rgba(0, 0, 0, 0.514);
}

.author {
    .authorpic {
        max-width: 20%;
    }
    display: flex;
    gap: 20px;
    font-size: smaller;
    align-items: center;
    justify-content: flex-start;
}